.container{
    height: 100%;
    background: linear-gradient(90deg, rgba(31,28,213,0.8491771708683473) 27%, rgba(111,143,204,1) 48%, rgba(55,143,161,1) 76%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 20rem;
    margin: auto;
    background-color: rgb(235,235,235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;
}

.full-width{
 width: 100%;
}

button{
    margin-top: 1.5rem;
}

img{
    height: 10rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
   
}

mat-icon{
    opacity: 0.6;
}